.main-reports-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px;
  /* background: #faf9f9; */
  justify-content: center;
}

.chart-box {
  flex: 1 1 calc(50% - 25px);
  max-width: calc(50% - 25px);
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-left: 6px solid #0f766e;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
}

.chart-box:hover {
  /* border-left-color: #0f766e; */
  transform: translateY(-5px);
}

.heading {
  padding: 14px 18px;
  font-size: 17px;
  font-weight: 600;
  color: #1e293b;
  border-bottom: 1px solid #e5e7eb;
}

.chart-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 230px;
  padding: 14px;
  background: #f9fafb;
}
