.main-reports-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px;
  background: #faf9f9;
  border-radius: 10px;
  justify-content: center;
}

.chart-box {
  width: 48%;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
}

.chart-box:hover {
  transform: translateY(-2px);
}

.heading {
  padding: 14px 18px;
  font-size: 17px;
  font-weight: 600;
  color: #1e293b;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
}

.chart-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  width: 100%;
  padding: 14px;
  background: #f9fafb;
}
@media (max-width: 1200px) {
  .main-reports-container {
    flex-direction: column;
  }
  .chart-box {
    width: 100%;
    padding: 0px;
  }
}
